{% extends 'base.html' %}

{% block table_list %}
<div class="row m-3 g-3 table-wrapper">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Concept</th>
                <th scope="col">Name</th>
                <th scope="col">Link</th>
            </tr>
        </thead>
        <tbody id="tbody">
            {% for list in lists %}
            <tr onclick="clickRecord('{{ list['id'] }}')">
                <th scope="row">{{list["time"]}}</th>
                <td>{{list["concept"]}}</td>
                <td>{{list["name"]}}</td>
                <td>{{list["link"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block highlight %}
<div class="list-group" id="highlight">
</div>
{% endblock %}